* {
  box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
  }
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
#relogio {
  color: chocolate;
}
.video1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 100px;
    border-color: black;
    
}
.copy {
    
    background-image: radial-gradient(farthest-side at 90% 50%, #97cc81, #7cd656 );
}
.explicando1 {
    background-color: #a06bd6;
 
    padding: 40px;

}
.imagem1{
    display: block;
    border-radius: 50%;
    float: left;
    border-color: black;
    border-width: 15px;
 
 
}
#quemsou {
  float: inline-end;

}
.explicando2 {
    background-color: #d6d64b;

    padding: 40px;

}
  h1 {
    color: rgb(0, 143, 0);
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
  }

  h2{color: rgb(0, 143, 0);
    text-align: center;
    font-size: 50px;}
  
  p {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    text-align: center;
  }
  button {

      font-size: 35px;
      font-family: 'Roboto Slab', serif;
      border-radius: 40px;
      padding: 15px 80px;
      border-color: black;
      border: 0;
      display: block;
      margin: 30px;
     
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      background-color: yellow;
  }