* {
  box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
  }
.container {
  position: relative;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  width: 100%;
 height: auto;
 opacity: 1;
 transition: .5s ease;
 backface-visibility: hidden;
  }

 .botao2 {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
 } 
.container:hover .logo {
  opacity: 0.3;
}
.container:hover .botao2 {
  opacity: 1;
}
.text {
  background-color: yellow;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
#relogio {
  color: chocolate;
}
#garantiaimg{
display: block;
margin: auto;
height: 400px;
padding-top: 100px;
}
.video1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 100px;
    border-color: black;
    
}
.copy {
    
    background-image: radial-gradient(farthest-corner at 90% 50%, rgb(196, 247, 200), #7cd656 );
}
.explicando1 {
    background-color:white;
 
    padding: 40px;

}
.imagem1{
    display: block;
    border-radius: 50%;
    float: left;
    border-color: black;
    border-width: 15px;
 
 
}
#quemsou {
  float: inline-end;


}
#garantia {
 
  font-size: 30px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;

}
.explicando2 {
    background-color: #d6d64b;
    background-image: radial-gradient(farthest-corner at 90% 50%, rgb(247, 244, 196),yellow);
    padding: 40px;

}
.preco{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
}
  h1 {
    color: rgb(0, 29, 0);
    text-align: center;
    font-size: 70px;
    font-family: 'Roboto Slab', serif;
  }

  h2{color: rgb(0, 29, 0);
    text-align: center;
    display: bloc;
    font-size: 70px;}

  h3{color: rgb(0, 29, 0);
      text-align: center;
      font-size: 40px;}
  p {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
    box-shadow: black;
    padding-right: 50px;
  }
  #testemunhos{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: justify;
    box-shadow: black;
    padding-right: 50px;
    padding-left: 50px;
  }
  .autoridade{
    background-image: radial-gradient(farthest-corner at 90% 50%, rgb(196, 247, 200), #7cd656 );
  }
  .garantia{
    
    margin: auto;
    width: 50%;
   }
   .garantiafundo{
    background-color: white;
   }
  
  button {

      font-size: 35px;
      font-family: 'Roboto Slab', serif;
      border-radius: 40px;
      padding: 15px 80px;
      border-color: black;
      border: 0;
      display: block;
      margin: 30px;
     
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      background-color: yellow;
  }

.modulos{
  background-color: rgb(223, 223, 25);

}
.mod1{
  float: left;
  width: 33.33%;
  display: inline;
}
.testemunhos {
  background-image: radial-gradient(farthest-corner at 90% 50%, rgb(196, 247, 200), #7cd656 );
}
.facebook{
  float: left;
  width: 33.33%;
  display: inline;
  border: 2px;
  border-color: black;
  padding: 40px;
}