* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  }

h1 {
  color: rgb(0, 29, 0);
  text-align: center;
  font-size: 4em;
  font-family: 'Roboto Slab', serif;
}

h2{color: white;
  text-align: center;
  display: block;
  font-size: 4em;
}

h3 {
  color: rgb(0, 29, 0);
  text-align: center;
  font-size: 4em;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  text-align: center;
  box-shadow: black;
  padding-right: 50px;
}

header{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
}

header p{
  color: #d6d64b;
}

.copy {
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: radial-gradient(farthest-corner at 90% 50%, #5FA341, #325723);
}

.copy > p {
  color: white;
  padding-top: 30px;
}

.copy > p > strong{
  color: #7cd656;
}

.container {
  position: relative;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container:hover .logo {
  opacity: 0.3;
}

.container:hover .botao2 {
  opacity: 1;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.botao2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-decoration: none;
 } 

.text {
  background-color: yellow;
  color: black;
  font-size: 3em;
  padding: 16px 32px;
}

#titulo{
  font-family: 'Hachi Maru Pop', cursive;
  color: #ffffff;
}

.video1 {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 100px;
  border-color: black; 
}
  
button {
  font-size: 4em;
  font-family: 'Roboto Slab', serif;
  border-radius: 40px;
  padding: 15px 80px;
  border-color: black;
  border: 0;
  display: block;
  margin: 30px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: yellow;
}

 #cartao{
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 40px;
  padding: 15px;
  background-color: white;
  border-radius: 30px;
 }

.explicando2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  padding: 40px;
}

#relogio {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#dias, #hora, #min, #sec {
  display: grid;
  text-align: center;
  border-radius: 10px;
  max-width: 10%;
  margin: 0 auto;
  border: 0;
  padding: 40px;
  background-color: rgb(255, 255, 78);
  color: rgb(253, 44, 44);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 4em; 
}

.explicando1 {
  background-color:white;
  padding: 40px;
}

.row {
  background-image: radial-gradient(farthest-corner at 90% 50%, #5FA341, #325723);
  padding-bottom: 30px;
  padding-top: 30px;
}

.row > h2 {
  color: white;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.modulos {
  display: grid;
  height: 800px;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1px;
  padding-right: 410px;
  padding-left: 410px;
}


.modulos > div {
  flex: 1 1 600px;
  text-align: center;
  padding: 20px 0;
  
}

.valor {
  background-color: white;
  padding: 30px;
}

.preco{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
  
}

.quemsou {
  float: inline-end;
  padding: 30px;
  padding-bottom: 50px;
  background-image: radial-gradient(farthest-corner at 90% 50%, #5FA341, #325723);
}

.eu {
  margin: 0px 200px 0px 200px;
  text-align: justify;
 
}

.imagemLoh {
  margin: 100px 100px 100px 100px;
  max-width: 100%;
  float: left;
  display: block;
  border-radius: 50%;
  border-color: black;
  border-width: 15px;
}

.garantiafundo {
  background-color: white;
}

.garantia {
  margin: auto;
  width: 50%;
}

#garantiaimg {
  display: block;
  margin: auto;
  height: 400px;
  padding-top: 100px;
}

#garantia {
  font-size: 2em;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.testemunho {
  background-image: radial-gradient(farthest-corner at 90% 50%, #5FA341, #325723);
  display: block;
  padding: 20px;
}

#testemunhos {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  text-align: center;
  box-shadow: black;
  padding-right: 50px;
  padding-left: 50px;
}

.testemunhos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  margin: 0 auto;
}

.testemunhos > div {
  flex: 1 1 400px;
  margin: 10px;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  background-color: #001f03;
}

footer > p {
  color: white;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}


@media screen and (max-width: 780px) {
 
  header {
    width: 1024px;
    justify-content: center;
  }
  header > p {
    font-size: 29px;
  }
  .copy{
    width: 1024px;
    justify-content: center;
    min-width: 250px;
  }
  .explicando{
    width: 1024px;
    
    justify-content: center;
    min-height: 250px;
  }

  .row {
    width: 1024px;
 
  }
  .valor{
    width: 1024px;
  }
  .quemsou {
    width: 1024px;
  }
  .garantiafundo{
    width: 1024px;
  }
  .testemunho{
    width: 1024px;
  }
  footer{
    width: 1024px;
  }
}
@media screen and (max-width: 360px) {
 
  header {
    width: 960px;
    justify-content: center;
  }
  header > p {
    font-size: 29px;
  }
  .copy{
    width: 960px;
    justify-content: center;
    min-width: 250px;
  }
  .explicando{
    width: 960px;
    
    justify-content: center;
    min-height: 250px;
  }

  .row {
    width: 960px;
 
  }
  .valor{
    width: 960px;
  }
  .quemsou {
    width: 960px;
  }
  .garantiafundo{
    width: 960px;
  }
  .testemunho{
    width: 960px;
  }
  footer{
    width: 960px;
  }
}